body{
	background-color: #000000;
	font-family: Arial;
	font-weight: normal;
	font-size: 30pt;
	color: #FFFFFF;
	text-indent: center;
	text-align: center;
}
#menu {
	
	background-image: url("https://www.significados.com.br/foto/filosofia-fb.jpg");
	
	width: 100%;
	
	height: auto;
	
	text-align: center;

}

#piton {

	<!--background-image: url("https://i.ytimg.com/vi/Do86W2K9nqg/maxresdefault.jpg");-->
	
	weight: 1200px;
	
	height: 780x;
	
}

#chico {

	<!--background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj0V8iB_c5pk1BOeEciB7O89pXXrL-ehcGLXaegWu-NFVwWIYEGQ&s");-->

	background-size: 1600px 780px;
	
	background-position: center-right;
	
}

#joao_paulo {

	<!--background-image: url("https://em.wattpad.com/bc33a2b22491100673208a4b206edddd5212dc88/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f6c474f475438597a6c4379442d513d3d2d3234312e313466336638616464313636646436633738363932373239303739312e6a7067?s=fit&w=720&h=720");-->

	color: #494242;

	background-size: 550px 410px;
	
}

#kosko {
	
	<!--background-image: url("kosko2.jpg");-->
	
	background-size: 1300px 856px;
	
}
video{
	display: block;
    margin-left: auto;
    margin-right: auto;
	border-radius: 20px;
}